{% extends "base.html" %}
{% block content %}
{% include "header.html" %}


<section class="title-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center col-centered">
			<form action="#" method = 'POST'>
			<h2 class="first-title">CREATE A NEW ITEM IN</h2>
			<h3 class="first-title">{{tlist.name}}</h3>
			<h3><img class="img-responsive form-picture" src={{tlist.pic_url}}></h3>
				<div class="form-group">
                <label for="name">Item Name:</label>
                    <input type ='text' class="input-min form-control" name='name'>
                </div>
                <div class="form-group">
                <label for="name">Description:</label>
                    <input type ='text' class="input-min form-control" name='description'>
                </div>
                <div class="form-group">
                <label for="name">Picture Url:</label>
                    <input type ='text' class="input-min form-control" name='url'>
                </div>
                <div class="form-group">
                <label for="name">Video Url:</label>
                    <input type ='text' class="input-min form-control" name='second_pic_url'>
                <div class="form-group">
                <input type='submit' value='Create Item' class = "btn btn-submitbutton">
                <a href="{{url_for('topTenItems', owner_id = owner.id, tlist_id = tlist.id)}}">
                    <button type="button" class="btn btn-cancelbutton">
                    Cancel</button>
                </a>
                <div>
		    </form>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}

{% endblock %}

