{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <!-- Portfolio Grid Section -->
    <section class="title-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Create a New Author!!</h2>

                        <form action = "{{url_for('createNewOwner')}}" method = 'POST'>

                        <dl>
                        <dt>Name:</dt>
                            <dd><input type ='text' size='30' name='name'></dd>
                        <dt>Slogan:</dt>
                            <input type ='text' size='30' name='slogan'>
                        <dt>Description:</dt>
                            <input type ='text' size='30' name='description'>
                        <dt>Picture URL:</dt>
                            <input type ='text' size='30' name = 'pic'>
                        </br>
                        <input type='submit' value='Create'>

                        </form>
                        <a href="{{url_for('mainPage')}}">      Cancel</a>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>

{% include "footer.html" %}
{% endblock %}