{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <!-- FORM -->
<section class="title-header">
    <div class="container">
        <div class="row row-centered">
            <div class="col-lg-4 text-center col-centered">
                <h2 style= "color:orange; text-align:center">CREATE A NEW LIST!!</h2>
                <form action = "{{url_for('editList.html', owner_id = owner.id)}}" method = 'POST'>
                <div class="form-group">
                <label for="name">List Name:</label>
                    <input type ='text' class="input-min form-control" name='name'>
                </div>
                <div class="form-group">
                <label for="name">Description: "Top Ten" ... Omit Top Ten label</label>
                    <input type ='text' class="input-min form-control" name='description'>
                </div>
                <div class="form-group">
                <label for="name">Picture URL:</label>
                    <input type ='text' class="input-min form-control" name='pic'>
                </div>

                <div class="form-group">
                <input type='submit' value='Create List' class = "btn btn-submitbutton">
                <a href="{{url_for('editList', owner_id = owner_id)}}">
                    <button type="button" class="btn btn-cancelbutton">
                    Cancel</button>
                </a>
                <div>
                </form>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>
<section class="title-header" >
        <div class="container">
            <div class="row row-centered">
                <div class="col-lg-4 text-center col-centered">
                    <h2 style= "color:orange; text-align:center">EDIT A LIST!!</h2>
                    <h2>Editing <span style= "color:orange;">{{tlist.name}}<span></h2>
                    <form action="#" method = 'POST'>
                    <div class="form-group">
                        <label for="name">List Name:</label>
                            <input type ='text' class="input-min form-control" name='name'>
                    </div>
                        <dl>
                           <dt>Name:</dt>
                            <dd><input type ='text' size='30' name='name' placeholder = {{tlist.name}}></dd>
                          <dt>Description:</dt>
                            <input type ='text' size='30' name ='description' placeholder = {{tlist.description}}>
                          <dt>Picture Url:</dt>
                            <input type ='text' size='30' name = 'pic_url' placeholder = {{tlist.pic_url}}>
                            </br>
                        <input type='submit' value='Edit'>
                        <a href="{{url_for('ownerLists',owner_id = owner.id)}}">   Cancel</a>

                        </form>
                       
                </div>
            </div>
            <div class="row">

            </div>
        </div>

    </section>

{% include "footer.html" %}
{% endblock %}