{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<section class="title-header" >
    <div class="container">
        <div class="row row-centered">
            	<h2 class="first-title">EDIT AN ITEM!!</h2>
					<h2>Editing <span class = "first-title">{{item.name}}</span> from <span class="first-title">{{item.lists.name}}</span></h1>
				<div class = "col-lg-4">
					<img class="img-responsive center-block form-picture" src={{item.url}}>
					<h4>{{item.description}}</h4>
				</div>
					
				<div class="col-lg-4 text-center col-centered">
					<form action="{{url_for('editItem', owner_id = item.lists.owner_id, tlist_id = tlist.id, item_id = item.id)}}" method = 'POST'>
					<div class="form-group">
		                <label for="name">Item Name:</label>
		                    <input type ='text' class="input-min input-group-sm form-control" name='name' value={{item.name}}>
		            </div>
		            <div class="form-group">
		                <label for="name">Rank:</label>
		                    <input type ='number' class="input-min form-control" name='rank' value={{item.rank}}>
		            </div>
		            <div class="form-group">
		                <label for="name">Description:</label>
		                    <input type ='text' class="input-min form-control" name='description' value={{item.description}}>
		            </div>
		            <div class="form-group">
		                <label for="name">Picture Url:</label>
		                    <input type ='text' class="input-min form-control" name='pic_url' value={{item.pic_url}}>
		            </div>
		            <div class="form-group">
		                <label for="name">Video Url:</label>
		                    <input type ='text' class="input-min form-control" name='second_pic_url' value={{item.second_pic_url}}>
		            </div>
		            <div class="form-group">
		                <input type='submit' value='Edit List' class = "btn btn-submitbutton">
		                <a href="{{url_for('topTenItems', owner_id = item.lists.owner_id, tlist_id = tlist.id, item_id = item.id)}}">
		                    <button type="button" class="btn btn-cancelbutton">
		                    Cancel</button>
		                </a>
		            <div>
				</form>
			</div>
        </div>
    </div>
</section>


{% include "footer.html" %}
{% endblock %}

