{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <!-- Portfolio Grid Section -->
<section class="title-header">
    <div class="container">
        <div class="row row-centered">
            <h2 class="first-title">EDIT A LIST!!</h2>
                <h2>Editing <span class="first-title">{{tlist.name}}<span></h2>
            <div class="col-lg-4 text-center col-centered">
                <form action = "{{url_for('editList', owner_id = owner.id, tlist_id = tlist.id)}}" method = 'POST'>
                <div class="form-group">
                <label for="name">List Name:</label>
                    <input type ='text' class="input-min form-control" name='name' value={{tlist.name}}>
                </div>
                <div class="form-group">
                <label for="name">Description: "Top Ten" ... Omit Top Ten label</label>
                    <input type ='text' class="input-min form-control" name='description' value={{tlist.description}}>
                </div>
                <div class="form-group">
                <label for="name">Picture URL:</label>
                    <input type ='text' class="input-min form-control" name='pic_url' value={{tlist.pic_url}}>
                </div>

                <div class="form-group">
                <input type='submit' value='Edit List' class = "btn btn-submitbutton">
                <a href="{{url_for('ownerLists', owner_id = owner.id)}}">
                    <button type="button" class="btn btn-cancelbutton">
                    Cancel</button>
                </a>
                <div>
                </form>
            </div>
        </div>
    </div>
</section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% include "footer.html" %}

{% endblock %}