<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-gb" xml:lang="en-gb">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-language" content="en-gb" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<title>How do I edit a saved web page? &bull; mozillaZine Forums </title>



<!--
	phpBB style name: prosilver
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:
-->

<script type="text/javascript">
// <![CDATA[
	var jump_page = 'Enter the page number you wish to go to:';
	var on_page = '1';
	var per_page = '';
	var base_url = '';
	var style_cookie = 'phpBBstyle';
	var style_cookie_settings = '; path=/';
	var onload_functions = new Array();
	var onunload_functions = new Array();

	

	/**
	* Find a member
	*/
	function find_username(url)
	{
		popup(url, 760, 570, '_usersearch');
		return false;
	}

	/**
	* New function for handling multiple calls to window.onload and window.unload by pentapenguin
	*/
	window.onload = function()
	{
		for (var i = 0; i < onload_functions.length; i++)
		{
			eval(onload_functions[i]);
		}
	};

	window.onunload = function()
	{
		for (var i = 0; i < onunload_functions.length; i++)
		{
			eval(onunload_functions[i]);
		}
	};

// ]]>
</script>
<script type="text/javascript" src="./styles/prosilver/template/styleswitcher.js"></script>
<script type="text/javascript" src="./styles/prosilver/template/forum_fn.js"></script>

<link href="./styles/prosilver/theme/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<!--link href="./style.php?id=1&amp;lang=en&amp;sid=b3b35c1c8335943a59da9776fb5501a1" rel="stylesheet" type="text/css" media="screen, projection" /-->
<link href="/static/forums/style/static_phpbb_style_php.css" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="./styles/prosilver/theme/normal.css" rel="stylesheet" type="text/css" title="A" />
<link href="./styles/prosilver/theme/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
<link href="./styles/prosilver/theme/large.css" rel="alternate stylesheet" type="text/css" title="A++" />



<link rel="stylesheet" href="http://forums.mozillazine.org/static/forums/style/board.css?a" type="text/css" />
<link rel="icon" href="http://forums.mozillazine.org/static/common/images/favicon.ico" type="image/x-icon" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32170104-1']);
  _gaq.push(['_setDomainName', 'mozillazine.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<meta name="google-site-verification" content="euCK30a8gJqlhI8PJ91riJIoH-EPXmzWUMseq0i6UhU" />
<test>
</head>

<body id="phpbb" class="section-viewtopic ltr">

  <div id="masthead">
    <h1><a href="http://forums.mozillazine.org/"><img src="http://forums.mozillazine.org/static/common/images/title2.gif" width="180" height="70" alt="MozillaZine" /></a></h1>
    <span id="sprite"></span>
  </div>
  <table width="100%" cellspacing="0" cellpadding="7"><tr><td valign="top" id="main">


<div id="wrap">
	<a id="top" name="top" accesskey="t"></a>

        <div id="gootop">
        <div class="inner"></span></span>
<script type="text/javascript"><!--
google_ad_client = "pub-0651448570352947";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text";
//2007-06-24: boards top
google_ad_channel = "9334581665";
google_color_border = "CADCEB";
google_color_bg = "CADCEB";
google_color_link = "536482";
google_color_text = "536482";
google_color_url = "536482";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
        <span class="corners-bottom"><span></span></span></div>
        </div>

	<div id="page-header">
		<div class="navbar">
			<div class="inner"><span class="corners-top"><span></span></span>

			<ul class="linklist">
				<li class="icon-home"><strong><a href="./index.php?sid=b3b35c1c8335943a59da9776fb5501a1" accesskey="h">Board index</a>  <strong>&#8249;</strong> <a href="./viewforum.php?f=49&amp;sid=b3b35c1c8335943a59da9776fb5501a1">Mozilla Firefox</a> <strong>&#8249;</strong> <a href="./viewforum.php?f=38&amp;sid=b3b35c1c8335943a59da9776fb5501a1">Firefox Support</a></strong></li>

				<li class="rightside"><a href="#" onclick="fontsizeup(); return false;" onkeypress="return fontsizeup(event);" class="fontsize" title="Change font size">Change font size</a></li>

				
				
			</ul>
			<span class="corners-bottom"><span></span></span></div>
                </div>
        </div>

	<a name="start_here"></a>
	<div id="page-body">
		
		
<h2><a href="./viewtopic.php?f=38&amp;t=386843&amp;sid=b3b35c1c8335943a59da9776fb5501a1">How do I edit a saved web page?</a></h2>
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body --><div style="display: none !important;">User Help for Mozilla Firefox<br /></div>

<div class="topic-actions">

	<div class="buttons">
	
		<div class="locked-icon"><a href="./posting.php?mode=reply&amp;f=38&amp;t=386843&amp;sid=b3b35c1c8335943a59da9776fb5501a1" title="This topic is locked, you cannot edit posts or make further replies."><span></span>{ TOPIC_LOCKED_SHORT }</a></div>
	
	</div>

	
		<div class="pagination">
			4 posts
			 &bull; Page <strong>1</strong> of <strong>1</strong>
		</div>
	

</div>
<div class="clear"></div>


	<div id="p2115434" class="post bg2">
		<div class="inner"><span class="corners-top"><span></span></span>


                
                        <div class="postprofile" id="profile2115434">
			        <dt><a href="./memberlist.php?mode=viewprofile&amp;u=32767&amp;sid=b3b35c1c8335943a59da9776fb5501a1">dorrity</a></dt>
				
                                        <dd><br><img src="./download/file.php?avatar=32767.gif" width="96" height="80" alt="User avatar" /><br /></dd>
                                
                <dd>&nbsp;</dd>
                <dd><strong>Posts:</strong> 6</dd><dd><strong>Joined:</strong> March 4th, 2004, 10:55 pm</dd><dd><strong>Location:</strong> Santa Rosa, CA</dd>
                </div>
        


		<div class="postbody">
			

			<p class="author">
                          
                            <a href="./viewtopic.php?p=2115434&amp;sid=b3b35c1c8335943a59da9776fb5501a1#p2115434"><img src="./styles/prosilver/imageset/icon_post_target.gif" width="11" height="9" alt="Post" title="Post" /></a>
                          
			  Posted February 26th, 2006, 10:27 pm</p>


			

			<div class="post_body" style="margin-left:137px">
			<div class="content">I go to a website, do the &quot;Save page as...&quot; thru the &quot;file&quot; on the upper left of the Firefox browser, when the &quot;Save as&quot; box pops up I name the file and under the &quot;Save as Type&quot; I choose &quot;Web page, HTML only&quot;.  I then go to where I saved the file and open it with Firefox.  I would like to know how I can edit the text on this saved web page that I just opened.  I went thru all the extensions for Firefox on the Mozilla.com site that were under the category of &quot;Edit&quot;, but found nothing that seems to apply.  I used to be able to do this, when you opened the upper left &quot;File&quot; drop down menu on the browser, there was a choice called &quot;Edit&quot;.  I recently ditched the just plain mozilla browser and switched both my computers to Firefox.  Did this used to be available on the mozilla browser?  How do I edit saved web pages thru Firefox????
<br />
<br />Thank you!
<br />
<br />Paula Jo</div>

			
			</div>
		

		</div>

<!-- old user info -->

		<!--div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div-->
                   
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />

	<div id="p2115444" class="post bg1">
		<div class="inner"><span class="corners-top"><span></span></span>


                
                        <div class="postprofile" id="profile2115444">
			        <dt><strong>Guest</strong></dt>
				<dd>Guest</dd>
                <dd>&nbsp;</dd>
                
                </div>
        


		<div class="postbody">
			

			<p class="author">
                          
                            <a href="./viewtopic.php?p=2115444&amp;sid=b3b35c1c8335943a59da9776fb5501a1#p2115444"><img src="./styles/prosilver/imageset/icon_post_target.gif" width="11" height="9" alt="Post" title="Post" /></a>
                          
			  Posted February 26th, 2006, 10:33 pm</p>


			

			<div class="post_body" style="margin-left:137px">
			<div class="content"><!-- w --><a class="postlink" href="http://www.nvu.com">www.nvu.com</a><!-- w --> appears to be the old netscape composer, mozilla style</div>

			
			</div>
		

		</div>

<!-- old user info -->

		<!--div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div-->
                   
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />

	<div id="p2115455" class="post bg2">
		<div class="inner"><span class="corners-top"><span></span></span>


                
                        <div class="postprofile" id="profile2115455">
			        <dt><strong>Guest</strong></dt>
				<dd>Guest</dd>
                <dd>&nbsp;</dd>
                
                </div>
        


		<div class="postbody">
			

			<p class="author">
                          
                            <a href="./viewtopic.php?p=2115455&amp;sid=b3b35c1c8335943a59da9776fb5501a1#p2115455"><img src="./styles/prosilver/imageset/icon_post_target.gif" width="11" height="9" alt="Post" title="Post" /></a>
                          
			  Posted February 26th, 2006, 10:46 pm</p>


			

			<div class="post_body" style="margin-left:137px">
			<div class="content">Instead of saving the page and opening it in an editor, try the ViewSourceWith Extension:
<br /><!-- m --><a class="postlink" href="https://addons.mozilla.org/extensions/moreinfo.php?id=394">https://addons.mozilla.org/extensions/m ... php?id=394</a><!-- m -->
<br />
<br />You can then open a page in any editor you choose.</div>

			
			</div>
		

		</div>

<!-- old user info -->

		<!--div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div-->
                   
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />

	<div id="p2115548" class="post bg1">
		<div class="inner"><span class="corners-top"><span></span></span>


                
                        <div class="postprofile" id="profile2115548">
			        <dt><a href="./memberlist.php?mode=viewprofile&amp;u=99087&amp;sid=b3b35c1c8335943a59da9776fb5501a1">greenknight</a></dt>
				
                                        <dd><br><img src="./download/file.php?avatar=99087_1424511526.jpg" width="99" height="51" alt="User avatar" /><br /></dd>
                                
                <dd>&nbsp;</dd>
                <dd><strong>Posts:</strong> 6164</dd><dd><strong>Joined:</strong> December 13th, 2004, 2:28 am</dd><dd><strong>Location:</strong> In the shadow of Mount St. Helens</dd>
                </div>
        


		<div class="postbody">
			

			<p class="author">
                          
                            <a href="./viewtopic.php?p=2115548&amp;sid=b3b35c1c8335943a59da9776fb5501a1#p2115548"><img src="./styles/prosilver/imageset/icon_post_target.gif" width="11" height="9" alt="Post" title="Post" /></a>
                          
			  Posted February 27th, 2006, 12:40 am</p>


			

			<div class="post_body" style="margin-left:137px">
			<div class="content">You should also check out the Scrapbook extension: <!-- m --><a class="postlink" href="http://www.extensionsmirror.nl/index.php?showtopic=1316&amp;hl=scrapbook">http://www.extensionsmirror.nl/index.ph ... =scrapbook</a><!-- m --></div>

			<div id="sig2115548" class="signature">Win 7 Home Premium SP1 x64, Linux Mint 17 MATE x64, AMD A4 5300 APU 3.6 GHz, ADATA XPG DDR3 1600 8GB, ATI Radeon HD 5450 1GB,  Firefox 41.0, Developer Edition 42.0a2 (Win only), Nightly 44.0a1x64 (Win), Nightly 43.0a1 (Linux AMD64) .</div>
			</div>
		

		</div>

<!-- old user info -->

		<!--div class="back2top"><a href="#wrap" class="top" title="Top">Top</a></div-->
                   
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<hr class="divider" />


<div class="topic-actions">
        <div class="buttons nextprev">
        	
	</div>
	
		<div class="pagination">
			4 posts
			 &bull; Page <strong>1</strong> of <strong>1</strong>
		</div>
	
</div>


	<p></p><p><a href="./viewforum.php?f=38&amp;sid=b3b35c1c8335943a59da9776fb5501a1" class="left-box left" accesskey="r">Return to Firefox Support</a></p>

	<form method="post" id="jumpbox" action="./viewforum.php?sid=b3b35c1c8335943a59da9776fb5501a1" onsubmit="if(this.f.value == -1){return false;}">

	
		<fieldset class="jumpbox">
	
			<label for="f" accesskey="j">Jump to:</label>
			<select name="f" id="f" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			
				<option value="-1">Select a forum</option>
			<option value="-1">------------------</option>
				<option value="49">Mozilla Firefox</option>
			
				<option value="38" selected="selected">&nbsp; &nbsp;Firefox Support</option>
			
				<option value="7">&nbsp; &nbsp;Firefox General</option>
			
				<option value="23">&nbsp; &nbsp;Firefox Builds</option>
			
				<option value="8">&nbsp; &nbsp;Firefox Features</option>
			
				<option value="9">&nbsp; &nbsp;Firefox Bugs</option>
			
				<option value="50">Mozilla Thunderbird</option>
			
				<option value="39">&nbsp; &nbsp;Thunderbird Support</option>
			
				<option value="28">&nbsp; &nbsp;Thunderbird General</option>
			
				<option value="29">&nbsp; &nbsp;Thunderbird Builds</option>
			
				<option value="30">&nbsp; &nbsp;Thunderbird Features</option>
			
				<option value="31">&nbsp; &nbsp;Thunderbird Bugs</option>
			
				<option value="51">SeaMonkey/Mozilla Suite</option>
			
				<option value="40">&nbsp; &nbsp;SeaMonkey Support</option>
			
				<option value="3">&nbsp; &nbsp;SeaMonkey General</option>
			
				<option value="6">&nbsp; &nbsp;SeaMonkey Builds</option>
			
				<option value="4">&nbsp; &nbsp;SeaMonkey Features</option>
			
				<option value="5">&nbsp; &nbsp;SeaMonkey Bugs</option>
			
				<option value="52">Other Mozilla Discussion</option>
			
				<option value="12">&nbsp; &nbsp;Camino</option>
			
				<option value="46">&nbsp; &nbsp;Calendar</option>
			
				<option value="47">&nbsp; &nbsp;Mobile</option>
			
				<option value="32">&nbsp; &nbsp;Miscellaneous Support</option>
			
				<option value="34">&nbsp; &nbsp;Other Applications and Distributions</option>
			
				<option value="53">Extensions and Themes</option>
			
				<option value="48">&nbsp; &nbsp;Extension/Theme Releases</option>
			
				<option value="19">&nbsp; &nbsp;Extension Development</option>
			
				<option value="18">&nbsp; &nbsp;Theme Development</option>
			
				<option value="54">Development</option>
			
				<option value="27">&nbsp; &nbsp;Mozilla Development</option>
			
				<option value="25">&nbsp; &nbsp;Web Development / Standards Evangelism</option>
			
				<option value="42">&nbsp; &nbsp;Third Party/Unofficial Builds</option>
			
				<option value="55">MozillaZine</option>
			
				<option value="11">&nbsp; &nbsp;MozillaZine Site Discussion</option>
			
				<option value="37">&nbsp; &nbsp;MozillaZine Tech</option>
			
			</select>
			<input type="submit" value="Go" class="button2" />
		</fieldset>
	</form>



        <div class="buttons">
        
                <div class="locked-icon"><a href="./posting.php?mode=reply&amp;f=38&amp;t=386843&amp;sid=b3b35c1c8335943a59da9776fb5501a1" title="This topic is locked, you cannot edit posts or make further replies."><span></span>This topic is locked, you cannot edit posts or make further replies.</span></a></div>
        
        </div>



<!--        <form id="viewtopic" method="post" action="./viewtopic.php?f=38&amp;t=386843&amp;sid=b3b35c1c8335943a59da9776fb5501a1">
        <fieldset class="display-options" style="clear: all">
	        
                <label>Display posts from previous: <select name="st" id="st"><option value="0" selected="selected">All posts</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></label>
                <label>Sort by <select name="sk" id="sk"><option value="a">Author</option><option value="t" selected="selected">Post time</option><option value="s">Subject</option></select></label> <label><select name="sd" id="sd"><option value="a" selected="selected">Ascending</option><option value="d">Descending</option></select> <input type="submit" name="sort" value="Go" class="button2" /></label>
		
        </fieldset>
        </form>-->

<br>

	<h3 style="clear: all">Who is online</h3>
	<p>Users browsing this forum: <span style="color: #9E8DA7;" class="username-coloured">Bing [Bot]</span>, <span style="color: #9E8DA7;" class="username-coloured">Google [Bot]</span>, <span style="color: #9E8DA7;" class="username-coloured">Google Adsense [Bot]</span> and 14 guests</p>
<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
		        <li><strong><a class="icon-home" href="./index.php?sid=b3b35c1c8335943a59da9776fb5501a1" accesskey="h">Board index</a>  &#8249; <a href="./viewforum.php?f=49&amp;sid=b3b35c1c8335943a59da9776fb5501a1">Mozilla Firefox</a>  &#8249; <a href="./viewforum.php?f=38&amp;sid=b3b35c1c8335943a59da9776fb5501a1">Firefox Support</a>  </strong></li>
                                <!--  -->
                       <li class="rightside">All times are UTC - 8 hours [ <abbr title="Daylight Saving Time">DST</abbr> ]</li>

		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>
	
</div>

        <div id="goobot">        <div class="inner"><span class="corners-top"><span></span></span>        <script type="text/javascript"><!--
        google_ad_client = "pub-0651448570352947";
        google_ad_width = 728;
        google_ad_height = 90;
        google_ad_format = "728x90_as";
        google_ad_type = "text";
        //2007-06-24: boards bottom
        google_ad_channel = "9873579553";
        google_color_border = "CADCEB";
        google_color_bg = "CADCEB";        google_color_link = "536482";        google_color_text = "536482";
        google_color_url = "536482";
        //-->
        </script>
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
        </div>
</div>
</div>

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	
</div>

  </td><td valign="top" id="sidebar" width="34">
  <a href="http://www.mozillazine.org/"><img src="http://forums.mozillazine.org/static/common/images/navHeader.gif" width="175" height="36" alt="MozillaZine" /></a>
  <div class="sidebar">
    <span class="corners-top"><span></span></span>
    <ul>
      
      <li><b><a href="./ucp.php?mode=login&amp;sid=b3b35c1c8335943a59da9776fb5501a1" title="Login" accesskey="x" class="icon-logout">Login</a></b></li>
    
    </ul>
    <ul>
      <li><a href="./faq.php?sid=b3b35c1c8335943a59da9776fb5501a1" title="Frequently Asked Questions" class="icon-faq">FAQ</a> / <a href="http://forums.mozillazine.org/faq.php?mode=rules" title="Forum Rules">Rules</a></li>
      <li><a href="./ucp.php?mode=register&amp;sid=b3b35c1c8335943a59da9776fb5501a1" class="icon-register">Register</a></li> 
    </ul>

    <span class="corners-bottom"><span></span></span>
  </div>

  <div class="sidebar searchBox">
    <span class="corners-top"><span></span></span>
    <b>Search</b><br />
      Boards : 
      <!--form action="./search.php?sid=b3b35c1c8335943a59da9776fb5501a1" method="get" id="search">
      <fieldset>
        <input class="inputbox search itsy" name="keywords" type="text" />
        <input class="button2 button4" value="Go" type="submit" /><br />
        <input type="hidden" name="sid" value="b3b35c1c8335943a59da9776fb5501a1" />

      </fieldset>
      </form-->

<form action="http://www.google.com/cse" id="cse-search-box" style="text-align: center">
  <div>
    <input type="hidden" name="cx" value="003258325049489668794:drr0nlojlas" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="31" class="inputbox search itsy" />
    <input type="submit" name="sa" value="Go" class="button2 button4"/>
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>

    <br />

    Knowledge Base:

   <!-- Google CSE Search Box Begins -->
    <!--form id="searchbox_003258325049489668794:ru2dpahviq8" action="http://google.com/cse">
      <fieldset>
        <input type="hidden" name="cx" value="003258325049489668794:ru2dpahviq8" />
        <input class="inputbox search itsy" name="q" type="text" />
        <input class="button2 button4" type="submit" name="sa" value="Go" />
        <input type="hidden" name="cof" value="FORID:1" />
      </fieldset>
    </form-->
    <!-- Google CSE Search Box Ends -->

  <form action="http://www.google.com/cse" id="cse-search-box" style="text-align: center">
    <div>
      <input type="hidden" name="cx" value="003258325049489668794:ru2dpahviq8" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" name="q" size="31" class="inputbox search itsy"/>
      <input type="submit" name="sa" value="Go" class="button2 button4"/>
    </div>
  </form>
  <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>


    <span class="corners-bottom"><span></span></span>
  </div>

  <div class="sidebar">
    <span class="corners-top"><span></span></span>
    <ul>
      <li><a href="http://www.mozillazine.org/submit/">submit news</a></li>
    </ul>
    <ul>

      <li><a href="http://forums.mozillazine.org/">forums</a></li>
      <li><a href="http://weblogs.mozillazine.org/">weblogs</a> <a href="http://feedhouse.mozillazine.org">(feedHouse)</a></li>
      <li><a href="http://kb.mozillazine.org/">knowledge base</a></li>
    </ul>
    <ul>
      <li><a href="http://www.mozillazine.org/chat/">chat</a></li>
      <li><a href="http://www.cafeshops.com/mozillazine/">store</a></li>
      <li><a href="http://www.mozillazine.org/about/">about</a></li>
    </ul>
    <ul class="translations">
      <li><a href="http://mozillazine-fr.org/" hreflang="fr" title="MozillaZine in French">fr</a></li>
      <li><a href="http://mozillazine.jp/" hreflang="ja" title="MozillaZine in Japanese">ja</a></li>

      <li><a href="http://www.mozilla.or.kr/mozilla/zine/" hreflang="ko" title="MozillaZine in Korean">ko</a></li>
      <li><a href="http://www.mozillaes.org/mozillazine/" hreflang="es" title="MozillaZine in Spanish">es</a></li>
    </ul>
    <span class="corners-bottom"><span></span></span>
  </div>

  <div class="sidebar">
    <span class="corners-top"><span></span></span>
    <div id="footer">
      mozillaZine is an independent Mozilla community and advocacy site.  We're not affiliated or endorsed by the Mozilla Corporation but we love them just the same.<br><br>
      Proudly Powered by <a href="http://www.phpbb.com/">phpBB</a><br /> &copy; phpBB Group<br /><br />
      &copy; 1998-2014 mozillaZine<br /> All Rights Reserved
      
    </div>
    <span class="corners-bottom"><span></span></span>
  </div>
  </td></tr></table>


</body>
</html>