{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <!-- Portfolio Grid Section -->
    <section class="title-header" >
        <div class="container">
            <div class="row">
                <div class="text-center" >
                    <h2>CHECK OUT THE TOP TEN LIST AUTHORS!!</h2>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    <ul>
                    {% for message in messages %}
                      <li> <strong> {{message}} </strong> </li>
                          {% endfor %}
                    </ul>
                            {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
    <section class = "business-header4">
        <div class="container"    
            <div class="row"> 
                <!-- start item for loop -->
            {% set cnt = 0 %}
            {% for i in items %}
            {% set cnt = cnt + 1 %}
                <div class="col-sm-3 first-section-item">
                    <h3><a href="{{url_for('ownerLists', owner_id = i.id)}}">{{i.name}}</a></h3>
                    <img src={{i.pic_url}} class="img-responsive" alt="">
                    
                </p></div>
                {% endfor %}
                <!--   End item for loop -->

            </div>
        </div>
    </section>

{{ section2|safe }}

{% include "footer.html" %}

   <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
<!-- MY Portfolio Modals Looped -->
    {% set cnt = 0 %}
    {% for i in items %}
    {% set cnt = cnt + 1 %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{cnt}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{i.name}}</h2>
                            <h3>{%if i.slogan %}{{i.slogan}}{% endif %}</h3>
                            <img src= {{i.pic_url}} class="img-responsive img-centered" alt="">
                            <p>{{i.description}}</p>
                            <ul class="list-inline item-details">
                                <li>My Top Ten Lists:
                                    <strong><a href="{{url_for('ownerLists', owner_id = i.id)}}">They're Awesome!</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
<!--  End My Portfolio Modals Loops!!  -->


{% endblock %}
