{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <!-- Portfolio Grid Section -->
    <section class = "title-header">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h4>{{owner.name}}</h4>
                    <h1>MY TOP TEN LISTS</h2>
                    

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    <ul>
                    {% for message in messages %}
                      <li> <strong> {{message}} </strong> </li>
                          {% endfor %}
                    </ul>
                            {% endif %}
                    {% endwith %}
                    <h5><a href="{{url_for('createNewList', owner_id = owner_id)}}">Create New List</a></h5>
                </div>
            </div>
        </div>
    </section>



    <section class = "business-header4">
        <div class="container">
            <div class="row">
                
                <!-- start item for loop -->
            {% for i in items %}
                <div class="col-sm-3 portfolio-item">
                    <h3><a href={{url_for('topTenItems', owner_id = owner.id, tlist_id = i.id)}}>{{i.name}}</a>
                    <a href="#portfolioModal{{cnt}}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                    <img src="{{i.pic_url}}" class="img-responsive" alt="/static/img/profile.png">
                    {% if login_session.user_id == i.owner_id %}
                    <a href="{{url_for('editList', owner_id = owner.id, tlist_id = i.id)}}">Edit</a>
                    <a href="{{url_for('deleteList', owner_id = owner.id, tlist_id = i.id)}}">Delete</a>
                    {% endif %}

                </p></div>
                {% endfor %}
                <!--   End item for loop -->

            </div>
        </div>
    </section>

{{ section2|safe }}

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        TopTenLists by Zacarias Bendeck
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

<!--  End My Portfolio Modals Loops!!  -->
{% include "section.html" %}
{% include "footer.html" %}

{% endblock %}

 
