{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<!-- start flash message -->
        <section class="title-header" >
            <div class="container">
                <div class="row">
                    <div class="text-center" >
 		            <h2>{{owner.name}}</h2>
                    <h1>{{tlist.name}}</h2>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li> <strong> {{message}} </strong> </li>
                          {% endfor %}
                    </ul>
                            {% endif %}
                    {% endwith %}
                    <a href="{{url_for('createNewItem', owner_id = owner.id, tlist_id = tlist.id)}}">Create New Item</a>
                    </div>
                </div>
            </div>
        </section>

<!-- start TopTen secion, to be renamed 'Top Ten Section ' -->            
    <section class="business-header2" >
        <div class="container">
            <div class="row">
                <div class="text-center" >      
            {% set cnt = 0 %}  
            {% for item in items %}
            
            	{% if item.rank is number %}
            	{% set cnt = cnt + 1 %}  
                <div class="col-sm-4 portfolio-item">
                    <h3>#{{item.rank}}  {{item.name}}</h3>
                    <p>{{item.description}}</p>
                    
                    <a href="#portfolioModal{{cnt}}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                    <img src= {{item.url}} class="img-responsive" alt="{{item.second_pic_url}}">
                    {% if login_session.user_id == item.id %}
                    <a href="{{url_for('editItem', owner_id = owner.id, tlist_id = tlist.id, item_id = item.id)}}">Edit</a>
                    <a href="{{url_for('deleteItem', owner_id = owner.id, tlist_id = tlist.id, item_id = item.id)}}">Delete</a>
                    {% endif %}
                </p>
                </div>
	           	{% endif %}
            {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% include "footer.html" %}
{% endblock %}

